doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/app.css')

    body
        // header
        include header

        // content
        .content
            h1= message
            h2= error.status
            pre #{error.stack}

        // footer
        include footer
