html
    head
        title Joker Drone
        link(rel='stylesheet', href='/css/_bootstrap.css')
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/css/index.css')
        script(src='/js/ace.js')

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/js/theme-vibrant_ink.js')
        script(type="text/javascript" src="/js/jquery.cookie.js")
        script(src="/js/register.js")

        script(src='/js/index.js')

    body

        // header
        include header


        // content
    .container
        content
            pre#editor.editor
                | var drone = new JokerDrone();
                | drone.takeoff();
                | drone.go({x: 0.0, y: 0.0, z: 1.0});
                | drone.go({x: 0.5, y: 0.0, z: 1.0});
                | drone.go({x: 0.5, y: 0.5, z: 1.0});
                | drone.go({x: 0.0, y: 0.5, z: 1.0});
                | drone.go({x: 0.0, y: 0.0, z: 1.0});
                | drone.land();
            button(onclick='compile();') Compile

    .container#user
        content
            pre#editor.editor
                form(method="post",action="/")
                        div.col-sm-12.user-info
                            |ユーザー名
                        div.col-sm-12
                            div.form-group
                                label(for="name")
                                    |codename
                                input#name.form-control.form-style(type='text', placeholder='CodeName',name="name")
                                //label.sr-only
                                //input.form-control.form-style(type='text', placeholder='Number')


                            div.form-group
                                div.text-center
                                    input#register.btn.btn-form(type='submit',value="SEND REQUEST")




        // footer
        include footer
