html
    head
        title Joker Drone
        link(rel='stylesheet', href='/css/pure.css')
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/css/index.css')

    body
        // header
        include header
            h1 Joker Drone

        // content
        .content
            .simulator
            button.pure-button.pure-button-primary.deploy-button Deploy

        // footer
        include footer
