html
    head
        title= title
        link(rel='stylesheet', href='/css/app.css')

    body
        // header
        extends header

        // content
        .content
            h1= Hoge

        // footer
        extends footer
