html
    head
        title Joker Drone
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/css/index.css')
        script(src='/js/ace.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='/js/index.js')

    body
        // header
        include header

        // content
        .content
            pre#editor.editor
                | var drone = new JokerDrone();
                | drone.takeoff();
                | drone.go({x: 0.0, y: 0.0, z: 1.5});
                | drone.go({x: 1.0, y: 0.0, z: 1.5});
                | drone.go({x: 1.0, y: 1.0, z: 1.5});
                | drone.go({x: 0.0, y: 1.0, z: 1.5});
                | drone.go({x: 0.0, y: 0.0, z: 1.5});
                | drone.land();

            button(onclick='compile();') Compile

        // footer
        include footer
