html
    head
        title Joker Drone
        link(rel='stylesheet', href='/css/pure.css')
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/css/index.css')
        script(src='/js/index.js')

    body
        // header
        include header
            h1 Joker Drone

        // content
        .content
            .simulator
            button.pure-button.pure-button-primary.deploy-button(onclick='g_jokerDrone.deploy();') Deploy


        // footer
        include footer
